/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 41px;
}

.welcome {
  padding-top: 68px;
  margin-bottom: 77px;
}
.welcome__para {
  font-size: 18px;
}

.container-chart {
  display: flex;
  gap: 30px;
}
.nutriment {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  width: 258px;
  height: 124px;
  margin-bottom: 39px;
}
.nutriment:not(:last-child) {
  margin-bottom: 20px;
}
.nutriment__content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.nutriment__number {
  font-weight: bold;
  font-size: 20px;
}

.nutriment__name {
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
}

.test-flex {
  display: flex;
  gap: 31px;
}
